body{
    font-family: 'Oxygen', sans-serif;
}

h1, h2 {
    font-family: 'Rufina', serif;
    letter-spacing: 2px;
}

.navbar{
    min-height: 50px;
    background-color: rgba(247, 243, 243, 0.39);
    right: 0;
    top: 0;
    left: 0;
    padding-bottom: 10px;
}

.nav-link{
    text-transform: uppercase;
    font-weight: 800;
}


nav a:active { 
    background-color ;
  }

.navbar-effect{
   background-color: #fff;
   box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

.banner {
    background-image: url(img/banner.jpg);
    align-items: center;
    display: flex;
    min-height: 700px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: rgb(220, 53, 69);
}

.text-banner {
    font-weight: bolder;
    letter-spacing: 2px;
}

.img-projetos{
    width: 800px;
}

.text-projetos{
    flex-direction: column;
    width: 300px;
    font-weight: 500;
    margin-bottom: 20px;
    margin: 0 auto;
}

.card-projetos{
    display: flex;
    flex-direction: inherit;
    align-items: center;
}

.card-style{
    margin: 0 auto;
}

.banner-contact {
    background-image: url(img/banner-contato.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-nav{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width: 350px) {
    .container {
      max-width: 360px;
    }

    .img-projetos{
        width: 350px;
    }

    .card-projetos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }

    .card-projetos{
        display: flex;
        flex-direction: inherit;
        align-items: center;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }

    .card-projetos{
        display: flex;
        flex-direction: inherit;
        align-items: center;
    }
  }